* {
  margin: 0;
  padding: 0;
}

body {
  background: #f8fff8;
  #app {
    header {
      top: 0;
      position: fixed;
      display: flex;
      width: 100%;
      height: 100px;
      background: #fff;
      border-bottom: 1px solid #000;
      z-index: 10;
      h1 {
        padding-left: 50px;
        width: 100%;
        a {
          img {
            height: 80px;
          }
        }
      }
      .menu-command {
        float: right;
        margin-right: 100px;
        .menu-button {
          display: none;
        }
        .nav {
          list-style: none;
          display: flex;
          justify-content: flex-end;
          text-align: center;
          height: 100px;
          li {
            width: 100px;
            line-height: 100px;  
            a {
              color: #000;
              text-decoration: none;
              border-bottom: 0px;
              position: relative;
              font-size: 1.3vw;
              &:hover {
                opacity: 0.7;
              }
              img {
                margin-top: 25px;
                width: 50%;   
              }
            }
          }
        }
      }
    }
  }
  main {
    margin-top: 100px;
    #works_block {
      margin: 0 auto;
      padding-top: 200px;
      width: 70%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .work_block {
        margin: 30px 20px 50px;
        box-shadow: 3px 3px 5px #e7e7e7;
        width: 250px;
        a {
          text-decoration: none;
          color: #000;
          img {
            width: 250px;
            height: 250px;
            vertical-align: middle;
          }
          .work_info {
            background: #fff;
            font-size: 14px;
            h2 {
              padding: 10px 0 0 10px;
              font-weight: 100;
              white-space:nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            p {
              padding: 20px;
              padding-left: 70%;
            }
          }
        }
      }
    }
    #paginate {
      padding: 30px;
      text-align: center;
      .example {
        li {
          display: inline;
        }
      }
    }
    #contact {
      background: #636363;
      padding-top: 50px;
      .form {
        width: 70%;
        margin: 0 auto;
        color: #f3f3f3;
        h3 {
          font-size: 40px;
        }
        form {
          width: 700px;
          padding: 10px;
          input {
            margin-bottom: 20px;
            &.name {
              width: 500px;
              height: 24px;
            }
            &.mail {
              width: 500px;
              height: 24px;
            }
            &.submit {  
              margin-top: -35px; 
              display: block;
              margin-left: auto; 
              width: 80px;
              height: 30px;
            }
          }
          textarea {
            width: 600px;
            height: 100px;
          }
        }
      }
    }
    #work_detail {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      padding-top: 100px;
      .detail_img {
        width: 50%;
        margin-bottom: 100px;
        img {
          width: 90%;
        }
        .worker {
          display: block;
          padding: 20px;
          text-decoration: underline;
          font-size: 1.5vw;
          color: #000;
        }
      }
      .detail_text {
        width: 50%;
        overflow-wrap: break-word;
        margin-bottom: 100px;
        .detail_title {
          margin-top: 20px;
          font-size: 3vw;
        }
        .price {
          margin-top: 40px;
          font-size: 2vw;
          color: #ad0000;
        }
        .btn {
          text-align: center;
          display: block;
          margin-top: 20px;
          font-size: 14px;
          width: 150px;
          height: 40px;
          line-height: 40px;
          border-radius: 50px;
          text-decoration: none;
          color: #000;
          background: #ebeb00;
          box-shadow: 1px 1px 3px #a3a3a3;
        }
        .detail_message {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
    .container {
      width: 40%;
      margin: 200px auto 0;
      border-radius: 5%;
      .row {
        &.justify-content-center {
          .col-md-8 {
            .card {
              .card-header {
                padding-top: 20px;
                font-size: 36px;
              }
              .card-body {
                width: 100%;
                margin: 20px auto;
                form {
                  .form-group {
                    &.row {
                      padding-bottom: 20px;
                      .col-md-4 {
                        font-size: 20px;
                      }
                      .col-md-6 {
                        #work_image, #work_file, #image_path {
                          border: none;
                        }
                        .form-control {
                          width: 100%;
                          height: 40px;
                          line-height: 18px;
                          border: 1px solid;
                          &.intro {
                            height: 100px;
                          }
                        }
                      }
                      &.mb-0 {
                        text-align: right;
                        .offset-md-4 {
                          .btn {
                            width: 100px;
                            height: 40px;
                            background: #009b00;
                            font-size: 20px;
                            color: #f0f0f0;
                            border: none;
                            box-shadow: 1px 1px 5px #414141;
                            &.btn-link {
                              background: none;
                              color: #000;
                              box-shadow: none;
                              padding-left: 20px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #display_block {
      width: 60%;
      margin: 0 auto;
      padding-top: 100px;
      overflow-wrap: break-word;
      font-size: 24px;   
      dl {
        dd {
          padding-left: 150px;
          margin-top: -36px;
          margin-bottom: 50px;
          img {
            width: 300px;
          }
        }
      }
    }
    .edit, .return {
      display: block;
      text-align: right;
      padding-right: 200px;
      padding-bottom: 20px;
      font-size: 20px;
      color: #000;
    }
    #profile_info {
      width: 80%;
      margin: 0 auto;
      h2 {
        font-size: 40px;
        padding-top: 30px;
      }
      .edit {
        display: block;
        text-align: right;
        padding-bottom: 20px;
        font-size: 20px;
        color: #000;
      }
      .profile_text {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        .profile_image {
          width: 50%;
          img {
            width: 80%;
          }
        }
        .profile_message {
          width: 50%;
          font-size: 24px;
          dl {
            dd {
              margin: -36px auto 30px 200px;
            }
          }
        }
      }
      .profile_works, .profile_purchase_histories {
        margin: 50px auto;
        h3 {
          font-size: 30px;
        }
        .profile_blocks {
          display: flex;
          justify-content: space-between;
          padding-top: 100px;
          .profile_block {
            width: 30%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  footer {
    text-align: center;
    background: #000;
    color: #fff;
    height: 40px;
    line-height: 40px;
  }
}