* {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 40px;
  padding-top: 30px;
}

.btn {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
  background: #ebeb00;
  box-shadow: 1px 1px 3px #a3a3a3;
}

body {
  background: #f8fff8;
}

body #app header {
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  background: #fff;
  border-bottom: 1px solid #000;
  z-index: 10;
}

body #app header h1 {
  padding-left: 50px;
  width: 100%;
}

body #app header h1 a img {
  height: 80px;
}

body #app header .menu-command {
  float: right;
  margin-right: 100px;
}

body #app header .menu-command .menu-button {
  display: none;
}

body #app header .menu-command .nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  height: 100px;
}

body #app header .menu-command .nav li {
  width: 100px;
  line-height: 100px;
}

body #app header .menu-command .nav li a {
  color: #000;
  text-decoration: none;
  border-bottom: 0px;
  position: relative;
  font-size: 1.3vw;
}

body #app header .menu-command .nav li a:hover {
  opacity: 0.7;
}

body #app header .menu-command .nav li a img {
  margin-top: 25px;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

body #app main {
  margin-top: 100px;
}

body #app main #works_block {
  margin: 0 auto;
  padding-top: 200px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body #app main #works_block .work_block {
  margin: 30px 20px 50px;
  box-shadow: 3px 3px 5px #e7e7e7;
  width: 250px;
}

body #app main #works_block .work_block a {
  text-decoration: none;
  color: #000;
}

body #app main #works_block .work_block a img {
  width: 250px;
  height: 250px;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

body #app main #works_block .work_block a .work_info {
  background: #fff;
  font-size: 14px;
}

body #app main #works_block .work_block a .work_info h3 {
  padding: 10px 0 0 10px;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body #app main #works_block .work_block a .work_info p {
  padding: 20px;
  padding-left: 70%;
}

body #app main #paginate {
  padding: 30px;
  text-align: center;
}

body #app main #paginate .example li {
  display: inline;
}

body #app main #work_detail {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

body #app main #work_detail .detail_img {
  width: 50%;
  margin-bottom: 100px;
}

body #app main #work_detail .detail_img img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

body #app main #work_detail .detail_img .worker {
  display: block;
  padding: 20px;
  text-decoration: underline;
  font-size: 1.5vw;
  color: #000;
}

body #app main #work_detail .detail_text {
  width: 50%;
  overflow-wrap: break-word;
  margin-bottom: 100px;
}

body #app main #work_detail .detail_text .detail_title {
  margin-top: 20px;
  font-size: 3vw;
}

body #app main #work_detail .detail_text .price {
  margin-top: 40px;
  font-size: 2vw;
  color: #ad0000;
}

body #app main #work_detail .detail_text .btn {
  border-radius: 50px;
  display: block;
  background: #ebeb00;
}

body #app main #work_detail .detail_text .btn a {
  text-decoration: none;
  color: #000;
}

body #app main #work_detail .detail_text .detail_message {
  margin-top: 20px;
  width: 100%;
}

body #app main .container {
  width: 40%;
  margin: 200px auto 0;
  border-radius: 5%;
}

body #app main .container .row.justify-content-center .col-md-8 .card .card-header {
  padding-top: 20px;
  font-size: 36px;
}

body #app main .container .row.justify-content-center .col-md-8 .card .card-body {
  width: 100%;
  margin: 20px auto;
}

body #app main .container .row.justify-content-center .col-md-8 .card .card-body form .form-group.row {
  padding-bottom: 20px;
}

body #app main .container .row.justify-content-center .col-md-8 .card .card-body form .form-group.row .col-md-4 {
  font-size: 20px;
}

body #app main .container .row.justify-content-center .col-md-8 .card .card-body form .form-group.row .col-md-6 #work_image,
body #app main .container .row.justify-content-center .col-md-8 .card .card-body form .form-group.row .col-md-6 #image_path {
  border: none;
}

body #app main .container .row.justify-content-center .col-md-8 .card .card-body form .form-group.row .col-md-6 .form-control {
  width: 100%;
  height: 40px;
  line-height: 18px;
  border: 1px solid;
}

body #app main .container .row.justify-content-center .col-md-8 .card .card-body form .form-group.row .col-md-6 .form-control.intro {
  height: 100px;
}

body #app main .container .row.justify-content-center .col-md-8 .card .card-body form .form-group.row.mb-0 {
  text-align: right;
}

body #app main .container .row.justify-content-center .col-md-8 .card .card-body form .form-group.row.mb-0 .offset-md-4 .btn {
  background: #009b00;
  font-size: 20px;
  color: #f0f0f0;
  border: none;
  text-decoration: none;
}

body #app main .container .row.justify-content-center .col-md-8 .card .card-body form .form-group.row.mb-0 .offset-md-4 .btn.btn-link {
  background: none;
  color: #000;
  box-shadow: none;
  padding-left: 20px;
  border-radius: none;
}

body #app main #display_block {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  overflow-wrap: break-word;
  font-size: 24px;
}

body #app main #display_block dl dd {
  padding-left: 150px;
  margin-top: -36px;
  margin-bottom: 50px;
}

body #app main #display_block dl dd img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

body #app main .edit,
body #app main .return {
  display: block;
  text-align: right;
  padding-right: 200px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #000;
}

body #app main #form_delete {
  text-align: right;
}

body #app main #form_delete .delete {
  border: none;
  background: rgba(255, 255, 255, 0);
  color: #000;
  text-decoration: underline;
  font-size: 20px;
  padding-right: 200px;
  padding-bottom: 20px;
}

body #app main #profile_info {
  width: 80%;
  margin: 0 auto;
}

body #app main #profile_info .edit {
  display: block;
  text-align: right;
  padding-bottom: 20px;
  font-size: 20px;
  color: #000;
}

body #app main #profile_info .profile_text {
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  padding-top: 100px;
}

body #app main #profile_info .profile_text .profile_image {
  width: 50%;
  text-align: center;
}

body #app main #profile_info .profile_text .profile_image img {
  padding: 10px;
  border: 5px solid;
  background: #fff;
  border-radius: 50%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

body #app main #profile_info .profile_text .profile_message {
  width: 45%;
  font-size: 24px;
}

body #app main #profile_info .profile_text .profile_message dl dd {
  margin: -36px auto 30px 200px;
}

body #app main #profile_info .profile_works,
body #app main #profile_info .profile_purchase_histories {
  margin: 50px auto;
}

body #app main #profile_info .profile_works h3,
body #app main #profile_info .profile_purchase_histories h3 {
  font-size: 30px;
}

body #app main #profile_info .profile_works .profile_blocks,
body #app main #profile_info .profile_purchase_histories .profile_blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 100px;
}

body #app main #profile_info .profile_works .profile_blocks .profile_block,
body #app main #profile_info .profile_purchase_histories .profile_blocks .profile_block {
  margin: 30px 20px 50px;
}

body #app main #profile_info .profile_works .profile_blocks .profile_block img,
body #app main #profile_info .profile_purchase_histories .profile_blocks .profile_block img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

body #app main #cart_info,
body #app main #order_info {
  width: 80%;
  margin: 0 auto;
}

body #app main #cart_info .cart_text,
body #app main #cart_info .order_text,
body #app main #order_info .cart_text,
body #app main #order_info .order_text {
  padding: 20px 0 50px;
  font-size: 24px;
  border-bottom: 5px solid #00005a;
}

body #app main #cart_info .cart_text span,
body #app main #cart_info .order_text span,
body #app main #order_info .cart_text span,
body #app main #order_info .order_text span {
  color: #f00;
  font-size: 18px;
}

body #app main #cart_info .cart_img,
body #app main #order_info .cart_img {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 200px;
}

body #app main #cart_info .cart_img img,
body #app main #order_info .cart_img img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

body #app main #cart_info .cart_detail_text table,
body #app main #cart_info .order_detail_text table,
body #app main #order_info .cart_detail_text table,
body #app main #order_info .order_detail_text table {
  border-collapse: collapse;
  width: 100%;
}

body #app main #cart_info .cart_detail_text table thead,
body #app main #cart_info .order_detail_text table thead,
body #app main #order_info .cart_detail_text table thead,
body #app main #order_info .order_detail_text table thead {
  background: #009b00;
  color: #f0f0f0;
  height: 50px;
}

body #app main #cart_info .cart_detail_text table thead tr th,
body #app main #cart_info .order_detail_text table thead tr th,
body #app main #order_info .cart_detail_text table thead tr th,
body #app main #order_info .order_detail_text table thead tr th {
  border-left: 2px solid #929292;
  border-right: 2px solid #929292;
}

body #app main #cart_info .cart_detail_text table tbody,
body #app main #cart_info .order_detail_text table tbody,
body #app main #order_info .cart_detail_text table tbody,
body #app main #order_info .order_detail_text table tbody {
  height: 50px;
}

body #app main #cart_info .cart_detail_text table tbody tr,
body #app main #cart_info .order_detail_text table tbody tr,
body #app main #order_info .cart_detail_text table tbody tr,
body #app main #order_info .order_detail_text table tbody tr {
  text-align: center;
}

body #app main #cart_info .cart_detail_text table tbody tr td,
body #app main #cart_info .order_detail_text table tbody tr td,
body #app main #order_info .cart_detail_text table tbody tr td,
body #app main #order_info .order_detail_text table tbody tr td {
  border: 2px solid #929292;
}

body #app main #cart_info .cart_detail_text dl,
body #app main #cart_info .order_detail_text dl,
body #app main #order_info .cart_detail_text dl,
body #app main #order_info .order_detail_text dl {
  padding-top: 50px;
}

body #app main #cart_info .cart_detail_text dl dd,
body #app main #cart_info .order_detail_text dl dd,
body #app main #order_info .cart_detail_text dl dd,
body #app main #order_info .order_detail_text dl dd {
  padding-bottom: 20px;
  overflow-wrap: break-word;
}

body #app main #cart_info .cart_detail_text dl dd a,
body #app main #cart_info .order_detail_text dl dd a,
body #app main #order_info .cart_detail_text dl dd a,
body #app main #order_info .order_detail_text dl dd a {
  color: #000;
  text-decoration: none;
}

body #app main #cart_info .cart_detail_text dl dd a span,
body #app main #cart_info .order_detail_text dl dd a span,
body #app main #order_info .cart_detail_text dl dd a span,
body #app main #order_info .order_detail_text dl dd a span {
  color: #f00;
}

body #app main #cart_info .cart_detail_text dl dd img,
body #app main #cart_info .order_detail_text dl dd img,
body #app main #order_info .cart_detail_text dl dd img,
body #app main #order_info .order_detail_text dl dd img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

body #app main #cart_info .cart_detail_text .cart_btn,
body #app main #cart_info .cart_detail_text .order_btn,
body #app main #cart_info .order_detail_text .cart_btn,
body #app main #cart_info .order_detail_text .order_btn,
body #app main #order_info .cart_detail_text .cart_btn,
body #app main #order_info .cart_detail_text .order_btn,
body #app main #order_info .order_detail_text .cart_btn,
body #app main #order_info .order_detail_text .order_btn {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto 200px;
}

body #app main #cart_info .cart_detail_text .cart_btn button,
body #app main #cart_info .cart_detail_text .order_btn button,
body #app main #cart_info .order_detail_text .cart_btn button,
body #app main #cart_info .order_detail_text .order_btn button,
body #app main #order_info .cart_detail_text .cart_btn button,
body #app main #order_info .cart_detail_text .order_btn button,
body #app main #order_info .order_detail_text .cart_btn button,
body #app main #order_info .order_detail_text .order_btn button {
  border: none;
  background: rgba(255, 255, 255, 0);
}

body #app main #cart_info .cart_detail_text .cart_btn button .btn,
body #app main #cart_info .cart_detail_text .order_btn button .btn,
body #app main #cart_info .order_detail_text .cart_btn button .btn,
body #app main #cart_info .order_detail_text .order_btn button .btn,
body #app main #order_info .cart_detail_text .cart_btn button .btn,
body #app main #order_info .cart_detail_text .order_btn button .btn,
body #app main #order_info .order_detail_text .cart_btn button .btn,
body #app main #order_info .order_detail_text .order_btn button .btn {
  display: inline-block;
  border-radius: 0px;
}

body #app footer {
  text-align: center;
  background: #000;
  color: #fff;
  height: 40px;
  line-height: 40px;
}

@media (max-width: 650px) {
  body #app header {
    height: 70px;
  }

  body #app header h1 {
    padding-left: 30px;
    width: 100%;
  }

  body #app header h1 a img {
    height: 55px;
  }

  body #app header .menu-command {
    margin-right: 50px;
  }

  body #app header .menu-command .menu-button {
    display: block;
    margin-top: 15px;
    overflow: hidden;
    width: 50px;
    height: 40px;
    outline: none !important;
    background: unset;
    border: none;
    cursor: pointer;
  }

  body #app header .menu-command .menu-button > span {
    background: #000;
    width: 40px;
    height: 4px;
    display: block;
    margin-bottom: 10px;
    transition: transform 0.4s;
    border-radius: 20px;
  }

  body #app header .menu-command .menu-button > span:last-child {
    margin-bottom: 0;
  }

  body #app header .menu-command .nav {
    display: none;
    font-size: 14px;
    flex-flow: column;
    margin-top: 160px;
  }

  body #app header .menu-command .nav li {
    background: #f8fff8;
    width: 100px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #000;
  }

  body #app header .menu-command .nav li a {
    padding-right: 30px;
    font-weight: normal;
  }

  body #app header .menu-command .nav li a img {
    vertical-align: middle;
    margin-top: 0;
    width: 40%;
  }

  body #app header .menu-command.menu-open {
    margin-right: 0px;
  }

  body #app header .menu-command.menu-open .menu-button > span:nth-child(1) {
    transform: translateY(14px) rotate(135deg);
  }

  body #app header .menu-command.menu-open .menu-button > span:nth-child(2) {
    transform: translateX(-18px) scale(0);
  }

  body #app header .menu-command.menu-open .menu-button > span:nth-child(3) {
    transform: translateY(-14px) rotate(-135deg);
  }

  body #app header .menu-command.menu-open .nav {
    position: relative;
    display: flex !important;
    background: #f8fff8;
    vertical-align: top;
  }

  body #app header .menu-command.menu-open .nav li {
    border-right: 0;
  }

  body #app header .menu-command.menu-open .nav li a {
    padding-right: 0;
    position: static;
  }

  body #app main {
    margin-top: 70px;
  }

  body #app main #work_detail {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
  }

  body #app main #work_detail .detail_img {
    width: 90%;
    margin: 0 auto;
  }

  body #app main #work_detail .detail_img .worker {
    padding: 20px;
    text-decoration: underline;
    font-size: 20px;
  }

  body #app main #work_detail .detail_text {
    width: 90%;
    overflow-wrap: break-word;
    margin-bottom: 100px;
  }

  body #app main #work_detail .detail_text .detail_title {
    margin-top: 20px;
    font-size: 24px;
  }

  body #app main #work_detail .detail_text .price {
    margin-top: 40px;
    font-size: 20px;
    color: #ad0000;
  }

  body #app main #work_detail .detail_text .btn {
    border-radius: 50px;
    display: block;
    background: #ebeb00;
  }

  body #app main #work_detail .detail_text .detail_message {
    margin-top: 20px;
    width: 100%;
  }

  body #app main #profile_info {
    width: 80%;
    margin: 0 auto;
  }

  body #app main #profile_info .edit {
    display: block;
    text-align: right;
    padding-bottom: 20px;
    font-size: 20px;
    color: #000;
  }

  body #app main #profile_info .profile_text {
    display: block;
    padding-top: 100px;
  }

  body #app main #profile_info .profile_text .profile_image {
    width: 90%;
    margin: 0 auto;
  }

  body #app main #profile_info .profile_text .profile_message {
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
  }

  body #app main #profile_info .profile_text .profile_message dl {
    margin-top: 30px;
    font-size: 20px;
  }

  body #app main #profile_info .profile_text .profile_message dl dd {
    margin: 0;
    margin-bottom: 20px;
  }

  body #app main #profile_info .profile_works,
  body #app main #profile_info .profile_purchase_histories {
    margin: 50px auto;
  }

  body #app main #profile_info .profile_works h3,
  body #app main #profile_info .profile_purchase_histories h3 {
    font-size: 30px;
  }

  body #app main #profile_info .profile_works .profile_blocks,
  body #app main #profile_info .profile_purchase_histories .profile_blocks {
    display: block;
    padding-top: 100px;
  }

  body #app main #profile_info .profile_works .profile_blocks .profile_block,
  body #app main #profile_info .profile_purchase_histories .profile_blocks .profile_block {
    width: 250px;
    margin: 0 auto 70px;
  }

  body #app main #profile_info .profile_works .profile_blocks .profile_block img,
  body #app main #profile_info .profile_purchase_histories .profile_blocks .profile_block img {
    width: 100%;
  }
}


